<!DOCTYPE html>
<html>
  <head>
    <title>M</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
    プルリクエストの仕方
    githubにrepository作る
    /rails new _ _ プロジェクト名 オプション
    /cd
    /git init
    /git remote add origin githubのURL
    /git status
    /git add .
    /git status
    /git commit -m ""
    /git push -u origin main
    /git checkout -b develop
    /git branch
    /rails g controller samples
    /git status
    /git add .
    /git commit -m ""
    /git push -u origin develop
    </p>
    <%= yield %>
  </body>
</html>
